
@{
    ViewBag.Title = "HomelessTraining";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/LearnMoreNormalize.css" rel="stylesheet" />
<link href="~/Content/learnMore.css" rel="stylesheet" />
<link href="~/Content/VolunteerLearnMore.css" rel="stylesheet" />

<div id="header" class="header">
    <div class="w-container">
    </div>
</div>
<div id="my-story" class="section">
    <div class="w-container">
        @*<div class="navigation">
                <a href="#header" class="logo-link w-inline-block">
                    <h1 class="logo">volunteer</h1>
                </a>
                <div class="link"><a href="#Overview" class="button-2 w-button">Overview</a><a href="#Overview" class="button-2 w-button">Mainreasons</a><a href="#Overview" class="button-2 w-button">Misconceptions</a><a href="#Overview" class="button-2 w-button">Volunteer now</a></div>
            </div>*@
        <div class="w-row">
            <div class="align-right w-col w-col-4">
                <h2>Overview</h2>
            </div>
            <div class="w-col w-col-8">
                <p>Over the years, the concept of homelessness has received many negative reputation. Several misconceptions have been bred. The truth is, being homeless is simply a phase, a temporary period of one's life that they will get through. Being homeless simply means that an individual is having difficulty with finding suitable accommodation, nothing more. It does not mean that they have mental illness, it does not mean they are unemployed, it does not mean that they are lazy and it definitely does not automatically make them a criminal. A homeless individual can be anyone, they can be well educated and come from a wealthy background, have a job, male or female and could be from any age group. If you recently found yourself to be homeless, you can find accommodation through public housing, community housing, supported housing, temporary housing or emergency accommodation. Each type of accommodation would depend on your individual situation. If you are unsure which type of accommodation to look for you can refer to the source below or contact a service support worker for guidance </p>    </div>
        </div>
    </div>
</div>
@*<div id="photos" class="section green">
    <div class="w-container">
        <div class="w-row">
            <div class="align-right w-col w-col-4">
                <h2>Mainreasons</h2>
            </div>
            <div class="w-col w-col-8">
                <h3>1.      Housing crisis – 40%</h3><img src="~/images/VolunteerStudy4.jpg" loading="lazy" srcset="~/images/VolunteerStudy4.jpg 800w, ~/images/VolunteerStudy4.jpg 1080w, ~/images/VolunteerStudy4.jpg 1280w" sizes="(max-width: 767px) 96vw, (max-width: 991px) 478.6588439941406px, 620px" alt="">
                <h3>2.      Family and domestic violence –35%</h3><img src="~/images/VolunteerStudy4.jpg" loading="lazy" srcset="~/images/VolunteerStudy4.jpg 800w, ~/images/VolunteerStudy4.jpg 1080w, ~/images/VolunteerStudy4.jpg 1280w" sizes="(max-width: 767px) 96vw, (max-width: 991px) 478.6588439941406px, 620px" alt="">
                <h3>3.    Financial difficulties – 11%</h3><img src="~/images/VolunteerStudy4.jpg" loading="lazy" srcset="~/images/VolunteerStudy4.jpg 800w, ~/images/VolunteerStudy4.jpg 1080w, ~/images/VolunteerStudy4.jpg 1280w" sizes="(max-width: 767px) 96vw, (max-width: 991px) 478.6588439941406px, 620px" alt="">
                <h3>4.      Mental health, physicalillness, or addiction -2%</h3><img src="~/images/VolunteerStudy4.jpg" loading="lazy" srcset="~/images/VolunteerStudy4.jpg 800w, ~/images/VolunteerStudy4.jpg 1080w, ~/images/VolunteerStudy4.jpg 1280w" sizes="(max-width: 767px) 96vw, (max-width: 991px) 478.6588439941406px, 620px" alt="">
                <h3>5.      Family and domestic violence –35%</h3><img src="~/images/VolunteerStudy4.jpg" loading="lazy" srcset="~/images/VolunteerStudy4.jpg 800w, ~/images/VolunteerStudy4.jpg 1080w, ~/images/VolunteerStudy4.jpg 1280w" sizes="(max-width: 767px) 96vw, (max-width: 991px) 478.6588439941406px, 620px" alt="">
                <h3>6.      Others – 7%</h3><img src="~/images/VolunteerStudy4.jpg" loading="lazy" srcset="~/images/VolunteerStudy4.jpg 800w, ~/images/VolunteerStudy4.jpg 1080w, ~/images/VolunteerStudy4.jpg 1280w" sizes="(max-width: 767px) 96vw, (max-width: 991px) 478.6588439941406px, 620px" alt="">
                <p class="paragraph">-According to Vincent Care website, 5 main reasons for homelessness in Victoria.</p>
            </div>
        </div>
    </div>
</div>*@
<div id="journal" class="section">
    <div class="w-container">
        <div class="w-row">
            <div class="align-right w-col w-col-4">
                <h2>Basic information </h2>
            </div>
            <div class="w-col w-col-8">
                @*<h2>MISCONCEPTIONS</h2>*@
                <p>
                    People who are homeless are no different to any citizen and are entitled to every basic human rights, they are allowed to vote, find education, attend training programs, protected by privacy laws and are free to choose when and who to speak with and what experiences of their past they would like to share. If you are looking to speak with someone about anything, please call (1800 825 955) now or visit any charitable organizations of your choosing now. Give an opportunity for someone else to help you and help get back on your feet soon as possible. Only then can you start helping even more people and ending this cycle forever.
                </p>
                 @*<h2>MISCONCEPTIONS</h2>*@
           
               
                 </div>
        </div>
    </div>
</div>
<div id="contact" class="section green">
    <div class="w-container">
        <div class="w-row">
            <div class="align-right w-col w-col-4">
                <h2>Seek Help now </h2>
            </div>
            <div class="w-col w-col-8">
                <p>
                    If you are currently homeless or think that you are potentially going to become homeless, you are strongly recommended to reach out for help. There are many resources available to you and many warm members of the community who are ready to give you the guidance that you need. If you are a person who are a victim of abuse or family violence you may want to consider your rights and take further actions to protect yourself or your children. In some extreme cases an order intervention can be applied for. An order intervention is an order made by the magistrate court to control how the respondent must behave towards you. Respondent who does not follow these conditions are committing a criminal offense. An intervention can have conditions to stop the respondent from harassing you, being near you or even contacting you and will be set on a case by case basis.
                </p>   @*<input type="submit" value="Do a quiz to test" data-wait="Please wait..." class="applytoquiz w-button">*@
                <a data-w-id="403efced-297c-41ba-5229-bdb572dd36b0" href="@Url.Action("Quiz","Home")" class="applytoquiz w-button" id="Volunteer_Quiz">Do a quiz to test</a>

            </div>
        </div>
    </div>
</div>