
@{
    ViewBag.Title = "ProvideSuport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    window.onload = function changeNavigationBarBkgrdColor() {
        // Get all the matching elements into a JavaScript Array
        var elements = Array.prototype.slice.call(document.querySelectorAll(".navigation-text"));

        // Loop over each element....
        elements.forEach(function (el) {
            el.style.color = "#dcd6ca";  // Adjust the element's style
        });
        document.getElementById("navigation-bar").style.background_color = "hsl(0deg 0% 20%)";
        document.getElementById("navigation-bar").style.opacity = "0.7";
        document.getElementById("navi-logo-img").src = '/images/yellowLogo.png';
    }
</script>
<div class="donatingheadersection">
    <div class="slider-content">
        <div class="slide-content-wrap">
            <div class="container-2">
                <h1 data-w-id="65d0c8bb-f3cb-221f-3afc-7dc29700fdfe" class="headersectiontitle">Provide<br>‍<span class="brand-span">Support</span></h1>
                <p data-w-id="65d0c8bb-f3cb-221f-3afc-7dc29700fe04" class="headersectionparagraph">
                    Just the simple gesture of donating your clothes can significantly improve the quality of life a homeless individual. Find out the many ways you can provide your support.
                </p>
            </div>
        </div>
    </div>
    <div class="slider-wrapper">
        <div data-delay="8000" data-animation="cross" data-autoplay="1" data-easing="ease-out" data-disable-swipe="1" data-duration="800" class="slider w-slider">
            <div class="w-slider-mask">
                <div class="slide w-slide">
                    <div class="donatingslideimage1"></div>
                </div>
                <div class="slide w-slide">
                    <div class="donatingslideimage2"></div>
                </div>
            </div>
            <div class="left-arrow-2 w-slider-arrow-left">
                <div class="w-icon-slider-left"></div>
            </div>
            <div class="right-arrow-2 w-slider-arrow-right">
                <div class="w-icon-slider-right"></div>
            </div>
            <div class="slide-nav-2 w-slider-nav w-round"></div>
        </div>
    </div>
</div>
<div data-w-id="00e39f18-964c-9533-8b86-2e9c9848835a" class="homepagesection">
    <div class="homepagesectioncontainer">
        <div class="homepagesectioncol w-row">
            <div class="homepagesectionimage w-col w-col-6">
                <div class="maincolorimage"><img src="~/images/volunteercenter.jpg" height="500" srcset="~/images/volunteercenter.jpg 500w, ~/images/volunteercenter.jpg 722w" sizes="(max-width: 479px) 450.4166564941406px, (max-width: 767px) 94vw, (max-width: 1439px) 47vw, 600px" data-w-id="056646df-faec-42fd-f6e3-4c0be7610260" alt="" class="image-7"></div>
            </div>
            <div class="homepagesectioncontent w-col w-col-6">
                <div class="homepagesectioncontentblock">
                    <h1 class="homepagesectiontitle">Volunteer <br>‍<span class="homepagesectiontitlemaincolor">Center</span></h1>
                    <p class="homepagesectionparagraph">
                        There are many warm-hearted Victorians who wanted to help but unsure of where to start. We will help you find all the details you need to facilitate your journey as a volunteer.
                        <br>
                    </p><a href="@Url.Action("index","VolunteerCenters")" class="homesectionbutton w-button">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-w-id="555c49c3-9244-fd1c-0cdf-26c99f613cb7" class="homepagesection">
    <div data-w-id="555c49c3-9244-fd1c-0cdf-26c99f613cb8" class="homepagesectioncontainer">
        <div class="homepagesectioncol w-row">
            <div data-w-id="00e39f18-964c-9533-8b86-2e9c9848835d" class="homepagesectioncontent w-col w-col-6">
                <div class="homepagesectioncontentblock">
                    <h1 class="homepagesectiontitle">Charity<br>‍<span class="homepagesectiontitlemaincolor">Organizations</span></h1>
                    <p class="homepagesectionparagraph">Seeking the assistance from the charitable organization.</p><a href="@Url.Action("index","VictoriaCharities")" class="homesectionbutton w-button">Learn More</a>
                </div>
            </div>
            <div data-w-id="00e39f18-964c-9533-8b86-2e9c98488369" class="homepagesectionimage w-col w-col-6">
                <div class="thirdcolorimage"><img src="~/images/charity.jpg" height="500" srcset="~/images/charity.jpg 500w, ~/images/charity.jpg 722w" sizes="(max-width: 479px) 450.4166564941406px, (max-width: 767px) 94vw, (max-width: 1439px) 47vw, 600px" data-w-id="00e39f18-964c-9533-8b86-2e9c9848836b" alt="" class="image-7"></div>
            </div>
        </div>
    </div>
</div>
<div data-w-id="00e39f18-964c-9533-8b86-2e9c9848835a" class="homepagesection">
    <div class="homepagesectioncontainer">
        <div class="homepagesectioncol w-row">
            <div class="homepagesectionimage w-col w-col-6">
                <div class="maincolorimage"><img src="~/images/donating.jpg" height="500" srcset="~/images/donating.jpg 500w, ~/images/donating.jpg 722w" sizes="(max-width: 479px) 450.4166564941406px, (max-width: 767px) 94vw, (max-width: 1439px) 47vw, 600px" data-w-id="056646df-faec-42fd-f6e3-4c0be7610260" alt="" class="image-7"></div>
            </div>
            <div class="homepagesectioncontent w-col w-col-6">
                <div class="homepagesectioncontentblock">
                    <h1 class="homepagesectiontitle"> Donating<br>‍<span class="homepagesectiontitlemaincolor"> Goods </span></h1>
                    <p class="homepagesectionparagraph">There are numerous ways to donate goods for the homeless community. Click the Learn More button below to find the right organization.<br></p><a href="@Url.Action("Donating","Home")" class="homesectionbutton w-button">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div data-w-id="00e39f18-964c-9533-8b86-2e9c9848835a" class="homepagesection">
        <div class="homepagesectioncontainer">
            <div class="homepagesectioncol w-row">
                <div class="homepagesectionimage w-col w-col-6">
                    <div class="maincolorimage"><img src="~/images/support.jpg" height="500" srcset="~/images/support-p-500.jpeg 500w, ~/images/support.jpg 722w" sizes="(max-width: 479px) 90.078125px, (max-width: 767px) 19vw, (max-width: 1439px) 9vw, 120px" data-w-id="056646df-faec-42fd-f6e3-4c0be7610260" alt="" class="image-7"></div>
                </div>
                <div class="homepagesectioncontent w-col w-col-6">
                    <div class="homepagesectioncontentblock">
                        <h1 class="homepagesectiontitle">Volunteer <span class="homepagesectiontitlemaincolor"><br>Center</span></h1>
                        <p class="homepagesectionparagraph">Find out the organisation is most suitable for you</p><a href="#" class="homesectionbutton w-button">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-w-id="555c49c3-9244-fd1c-0cdf-26c99f613cb7" class="homepagesection">
        <div data-w-id="555c49c3-9244-fd1c-0cdf-26c99f613cb8" class="homepagesectioncontainer">
            <div class="homepagesectioncol w-row">
                <div data-w-id="00e39f18-964c-9533-8b86-2e9c9848835d" class="homepagesectioncontent w-col w-col-6">
                    <div class="homepagesectioncontentblock">
                        <h1 class="homepagesectiontitle">Charity<br>‍<span class="homepagesectiontitlemaincolor">Organisation </span></h1>
                        <p class="homepagesectionparagraph">Find out the organisation is most suitable for you</p><a href="#" class="homesectionbutton w-button">Learn More</a>
                    </div>
                </div>
                <div data-w-id="00e39f18-964c-9533-8b86-2e9c98488369" class="homepagesectionimage w-col w-col-6">
                    <div class="thirdcolorimage"><img src="~/images/support.jpg" height="500" srcset="~/images/support-p-500.jpeg 500w, ~/images/support.jpg 722w" sizes="(max-width: 479px) 90.078125px, (max-width: 767px) 19vw, (max-width: 1439px) 9vw, 120px" data-w-id="00e39f18-964c-9533-8b86-2e9c9848836b" alt="" class="image-7"></div>
                </div>
            </div>
        </div>
    </div>*@
@*<div data-w-id="20a3ad0f-f9d4-3dfb-8bed-e37a086a9d44" class="homepagesection">
        <div class="homepagesectioncontainer">
            <div class="homepagesectioncol w-row">
                <div class="homepagesectionimage w-col w-col-6">
                    <div class="maincolorimage"><img src="~/images/support.jpg" height="500" srcset="~/images/support-p-500.jpeg 500w, ~/images/support.jpg 722w" sizes="(max-width: 479px) 90.078125px, (max-width: 767px) 19vw, (max-width: 1439px) 9vw, 120px" data-w-id="20a3ad0f-f9d4-3dfb-8bed-e37a086a9d49" alt="" class="image-7"></div>
                </div>
                <div class="homepagesectioncontent w-col w-col-6">
                    <div class="homepagesectioncontentblock">
                        <h1 class="homepagesectiontitle">Donating <br><span class="homepagesectiontitlemaincolor">Goods</span></h1>
                        <p class="homepagesectionparagraph">Find out the organisation is most suitable for you</p><a href="#" class="homesectionbutton w-button">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@