
@{
    ViewBag.Title = "QAs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="qasheadersection">
    <div class="slider-content">
        <div class="slide-content-wrap">
            <div class="container-2">
                <h1 data-w-id="65d0c8bb-f3cb-221f-3afc-7dc29700fdfe"  class="headersectiontitle">Questions<br>‍<span class="brand-span">Frequently Asked</span></h1>
                <p data-w-id="65d0c8bb-f3cb-221f-3afc-7dc29700fe04" class="headersectionparagraph">There are some questions and answer for you to learn more about homeless rights.<br>For Volunteer, there are some basic things you should before help others.</p>
            </div>
        </div>
    </div>
    <div class="slider-wrapper">
        <div data-delay="8000" data-animation="cross" data-autoplay="1" data-easing="ease-out" data-disable-swipe="1" data-duration="800" class="slider w-slider">
            <div class="w-slider-mask">
                <div class="slide w-slide">
                    <div class="qasslideimage1"></div>
                </div>
                <div class="slide w-slide">
                    <div class="qasslideimage2"></div>
                </div>
            </div>
            <div class="left-arrow-2 w-slider-arrow-left">
                <div class="w-icon-slider-left"></div>
            </div>
            <div class="right-arrow-2 w-slider-arrow-right">
                <div class="w-icon-slider-right"></div>
            </div>
            <div class="slide-nav-2 w-slider-nav w-round"></div>
        </div>
    </div>
</div>

<div data-w-id="83f4bdb5-ed76-edbb-5756-fd83ff4a4535" class="homepagesection">
    <div class="homepagesectioncontainer">
        <div>
            <h1 class="heading-6">Quizze<span class="maincolortext">s</span></h1>
            <p class="homepageparagraph">This section contains quizzes designed to help increase public awareness and make aware what is expected from volunteers.</p>
        </div>
        <div data-duration-in="300" data-duration-out="100" data-w-id="83f4bdb5-ed76-edbb-5756-fd83ff4a453e" class="w-tabs">
            <div class="tab-menu-round w-tab-menu">
                <a data-w-tab="Burgers" class="tab-link-round w-inline-block w-tab-link w--current">
                    <div class="text-block-89">Volunteering Training</div>
                </a>
                <a data-w-tab="Sides" class="tab-link-round w-inline-block w-tab-link">
                    <div class="text-block-87">Homelessness In Vic</div>
                </a>
                <a data-w-tab="Drinks" class="tab-link-round w-inline-block w-tab-link">
                    <div class="text-block-87">Homelessness Rights</div>
                </a>
            </div>
            <div class="w-tab-content">
                <div data-w-tab="Burgers" class="tab-pane-wrap w-tab-pane w--tab-active">
                    <div id="interact-5f8bc5c4a4e2070014d09a01"></div>
                    <script type="text/javascript">var app_5f8bc5c4a4e2070014d09a01; (function (d, t) { var s = d.createElement(t), options = { "appId": "5f8bc5c4a4e2070014d09a01", "aspect_ratio": "50%", "async": true, "host": "quiz.tryinteract.com", "footer": "show" }; s.src = 'https://i.tryinteract.com/embed/app.js'; s.onload = s.onreadystatechange = function () { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { app_5f8bc5c4a4e2070014d09a01 = new InteractApp(); app_5f8bc5c4a4e2070014d09a01.initialize(options); app_5f8bc5c4a4e2070014d09a01.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script');</script> @*<div class="os_widget" data-of="jackeylove" data-path="/jackeylove/how-much-do-you-know-about-the-homeless-situation-in-victoria" id="os-widget-740524"></div>*@
                </div>
                <div data-w-tab="Sides" class="w-tab-pane">
                    <div id="interact-5f8c10287dd35500143a47dd"></div>
                    <script type="text/javascript">var app_5f8c10287dd35500143a47dd; (function (d, t) { var s = d.createElement(t), options = { "appId": "5f8c10287dd35500143a47dd", "aspect_ratio": "50%", "async": true, "host": "quiz.tryinteract.com", "footer": "show" }; s.src = 'https://i.tryinteract.com/embed/app.js'; s.onload = s.onreadystatechange = function () { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { app_5f8c10287dd35500143a47dd = new InteractApp(); app_5f8c10287dd35500143a47dd.initialize(options); app_5f8c10287dd35500143a47dd.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script');</script> @*<div class="os_widget" data-of="jimmy-ho" data-path="/jimmy-ho/what-is-the-minimum-age-for-volunteering" id="os-widget-740529"></div>*@
                </div>
                <div data-w-tab="Drinks" class="w-tab-pane">
                    <div id="interact-5f8c12fba4e2070014d09b0b"></div>
                    <script type="text/javascript">var app_5f8c12fba4e2070014d09b0b; (function (d, t) { var s = d.createElement(t), options = { "appId": "5f8c12fba4e2070014d09b0b", "aspect_ratio": "50%", "async": true, "host": "quiz.tryinteract.com", "footer": "show" }; s.src = 'https://i.tryinteract.com/embed/app.js'; s.onload = s.onreadystatechange = function () { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { app_5f8c12fba4e2070014d09b0b = new InteractApp(); app_5f8c12fba4e2070014d09b0b.initialize(options); app_5f8c12fba4e2070014d09b0b.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script');</script>
                </div>
                @*<div class="button-wrapper"><a href="@Url.Action("QAs","Home")" data-w-id="83f4bdb5-ed76-edbb-5756-fd83ff4a4551" class="homepagequizbutton w-button">Some Hints Here</a></div>*@
            </div>
        </div>
    </div>
</div>
<div data-w-id="d63a3ebc-2aa2-ea39-81be-0c884064eb29" class="spacesection">
    <div class="container-flex-2">
        <div class="providesupportcontainer">
            <div class="section-statistics">
                <div class="container">
                    <div class="qastitlecontent">
                        
                        <h3 class="heading-primary h3-centre" style="color:azure">Main reasons - Homeless</h3>
                    </div>
                    <div class="feature-number-wrap">
                        <div class="statistic-circle-wrap">
                            <div class="circle-div">
                                <h4 class="counterup" id="upcounter1">0.40</h4>
                                <div class="title-capped">Housing crisis </div>
                            </div>
                        </div>
                        <div class="arrow-wrap"><img src="~/images/arrow-right.svg" alt="" class="arrow-image"><img src="~/images/arrow-down.svg" alt="" class="arrow-image-mobile"></div>
                        <div class="statistic-circle-wrap">
                            <div class="circle-div">
                                <h1 class="counterup" id="upcounter2">0.35</h1>
                                <div class="title-capped">Family and <br>domestic violence</div>
                            </div>
                        </div>
                        <div class="arrow-wrap"><img src="~/images/arrow-right-02.svg" alt="" class="arrow-image"><img src="~/images/arrow-down-02.svg" alt="" class="arrow-image-mobile-02"></div>
                        <div class="statistic-circle-wrap">
                            <div class="circle-div">
                                <h1 class="counterup" id="upcounter3">0.11</h1>
                                <div class="title-capped">Financial <br>difficulties </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-w-id="83f4bdb5-ed76-edbb-5756-fd83ff4a4535" style="opacity:0" class="homepagesection">
    <div class="homepagesectioncontainer">
        <div class="qastitlecontent">
            <h1 class="qassectiontitle">QA<span class="maincolortext">s</span></h1>
            <p class="homepageparagraph">Over years there have been many myths and misconceptions regarding the homeless community. This page is designed to answer many of the frequently asked questions made from the general public and debunk any negative stereotypes.</p>
            <div data-duration-in="300" data-duration-out="100" class="w-tabs">
                <div class="tab-menu-round w-tab-menu">
                    <a data-w-tab="Tab 1" class="tab-link-round-2 w-inline-block w-tab-link">
                        <div class="text-block-92">General Q&A</div>
                    </a>
                    <a data-w-tab="Tab 2" class="tab-link-round-2 w-inline-block w-tab-link w--current">
                        <div class="text-block-91">Homeless Q&A</div>
                    </a>
                    <a data-w-tab="Tab 3" class="tab-link-round-2 w-inline-block w-tab-link">
                        <div class="text-block-90">Volunteer Q&A</div>
                    </a>
                </div>
                <div class="w-tab-content">
                    <div data-w-tab="Tab 1" class="w-tab-pane">
                        @*<div class="section-statistics">
                                <div class="container">
                                    <div class="qastitlecontent">
                                        <p class="title">STATISTICS ABOUT US</p>
                                        <h3 class="heading-primary h3-centre">Mainreasons - Homeless</h3>
                                    </div>
                                    <div class="feature-number-wrap">
                                        <div class="statistic-circle-wrap">
                                            <div class="circle-div">
                                                <h4 class="counterup" id="upcounter1">0.40</h4>
                                                <div class="title-capped">Housing crisis </div>
                                            </div>
                                        </div>
                                        <div class="arrow-wrap"><img src="~/images/arrow-right.svg" alt="" class="arrow-image"><img src="~/images/arrow-down.svg" alt="" class="arrow-image-mobile"></div>
                                        <div class="statistic-circle-wrap">
                                            <div class="circle-div">
                                                <h1 class="counterup" id="upcounter2">0.35</h1>
                                                <div class="title-capped">Family and <br>domestic violence</div>
                                            </div>
                                        </div>
                                        <div class="arrow-wrap"><img src="~/images/arrow-right-02.svg" alt="" class="arrow-image"><img src="~/images/arrow-down-02.svg" alt="" class="arrow-image-mobile-02"></div>
                                        <div class="statistic-circle-wrap">
                                            <div class="circle-div">
                                                <h1 class="counterup" id="upcounter3">0.11</h1>
                                                <div class="title-capped">Financial <br>difficulties </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        <div class="tab-pane-wrap">

                            <div class="homepagehomelessinvicdetails">
                                <div data-w-id="fe3c78b2-1b40-5298-e007-9c3f5c047185" class="homepagehomelessinvicdetailstitleblock">
                                    <h1 class="homepagehomelessinvicdetailstitle">Overview</h1>
                                </div>
                                <div style="height:0PX" class="homepagehomelessinvicdetailstitledesblock">
                                    <div class="homepagehomelessinvicdetailstitledestext">
                                        <div class="homepagehomelessinvicdetailstitledes">Homelessness is a global issue, even on the second most hospitable country in the world, homelessness still exists. As of 2020, there are approximately 25000 homeless individuals on any given night. There are three types of homelessness: primary, secondary, and tertiary. Primary homelessness are people without conventional accommodation, which results them having to sleep rough or live in improvised dwellings such as parks and on the streets. Secondary homelessness are the people who frequently must move from one temporary shelter to another, such as emergency accommodation or youth refuges. Tertiary homelessness categorizes people who lives in accommodations that does not meet the minimum community standards such as caravan parks.<br></div>
                                    </div>
                                </div>
                            </div>



                            <div class="homepagehomelessinvicdetails">
                                <div data-w-id="fe3c78b2-1b40-5298-e007-9c3f5c047185" class="homepagehomelessinvicdetailstitleblock">
                                    <h1 class="homepagehomelessinvicdetailstitle">misconceptions #1 - homeless individuals they are more likely to commit crime</h1>
                                </div>
                                <div style="height:0PX" class="homepagehomelessinvicdetailstitledesblock">
                                    <div class="homepagehomelessinvicdetailstitledestext">
                                        <div class="homepagehomelessinvicdetailstitledes">A common misconception about homelessindividuals is that they are more likely to commit crime or break the law. Thismay also be the reason for some volunteers opting to not work in the front lineand come in close proximity to the homeless. However, statistics show thathomeless individuals are more likely to be victims of crime rather thancommitting them. It is common for the homeless to get robbed and assaulted intheir space. Homeless people can be living on the streets, crowded dwellings oreven just staying at relatives or friends. All of these places put them indanger of being targets for exploitation.<br></div>
                                    </div>
                                </div>
                            </div>
                            <div class="homepagehomelessinvicdetails">
                                <div data-w-id="fe3c78b2-1b40-5298-e007-9c3f5c047185" class="homepagehomelessinvicdetailstitleblock">
                                    <h1 class="homepagehomelessinvicdetailstitle">misconceptions #2  - charitable organizations aims</h1>
                                </div>
                                <div style="height:0PX" class="homepagehomelessinvicdetailstitledesblock">
                                    <div class="homepagehomelessinvicdetailstitledestext">
                                        <div class="homepagehomelessinvicdetailstitledes">Another misconception people have regarding charitable organizations is that a lot of their work is about getting donations and sometimes even use the money for their own benefits. In reality, there are many ways to help homelessness and charitable organizations without money out of pocket. In reality, it is often more helpful for individuals to donate their time and effort by providing a range of services for the homeless or even give out old products that is no longer useful for them. Services such as collection of resources, providing goods and clothing, advocacy services, advice, skills and employment services, health services and financial support, even just talking to them to let them know they are still an important part of the community are all fantastic ways to help the homeless.<br></div>
                                    </div>
                                </div>
                            </div>
                            <div class="homepagehomelessinvicdetails">
                                <div data-w-id="fe3c78b2-1b40-5298-e007-9c3f5c047185" class="homepagehomelessinvicdetailstitleblock">
                                    <h1 class="homepagehomelessinvicdetailstitle">misconceptions #3 - completeout of the control </h1>
                                </div>
                                <div style="height:0PX" class="homepagehomelessinvicdetailstitledesblock">
                                    <div class="homepagehomelessinvicdetailstitledestext">
                                        <div class="homepagehomelessinvicdetailstitledes">Opposite of common misconceptions,homelessness is not a choice. Many of the reasons for homelessness are completeout of the control of the individual and they usually find themselves in thatsituation spontaneously. For a lot of people, homelessness can happen at anytime. The most common age group we find in homeless individuals are, not middleaged men, but adults aged between 24-34 years of age. The truth is,homelessness affects all ages, genders, and background, with large percentageson all ranges of ages and even between genders.<br></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-w-tab="Tab 2" class="w-tab-pane w--tab-active">
                        <div class="tab-pane-wrap">
                            <div class="homepagehomelessinvicpartdestitlecontent">
                                <div class="homepagehomelessinvicdetails" @*style="margin-bottom: 5px;*@">
                                    <div data-w-id="fe3c78b2-1b40-5298-e007-9c3f5c047185" class="homepagehomelessinvicdetailstitleblock">
                                        <h1 class="homepagehomelessinvicdetailstitle">Overview</h1>
                                    </div>
                                    <div style="height:0PX" class="homepagehomelessinvicdetailstitledesblock">
                                        <div class="homepagehomelessinvicdetailstitledestext">
                                            <div class="homepagehomelessinvicdetailstitledes">Over the years, the concept of homelessness has received many negative reputation. Several misconceptions have been bred. The truth is, being homeless is simply a phase, a temporary period of one&#x27;s life that they will get through. Being homeless simply means that an individual is having difficulty with finding suitable accommodation, nothing more. It does not mean that they have mental illness, it does not mean they are unemployed, it does not mean that they are lazy and it definitely does not automatically make them a criminal. A homeless individual can be anyone, they can be well educated and come from a wealthy background, have a job, male or female and could be from any age group.<br></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="homepagehomelessinvicdetails">
                                    <div data-w-id="fe3c78b2-1b40-5298-e007-9c3f5c047185" class="homepagehomelessinvicdetailstitleblock">
                                        <h1 class="homepagehomelessinvicdetailstitle">Basic human rights</h1>
                                    </div>
                                    <div style="height:0PX" class="homepagehomelessinvicdetailstitledesblock">
                                        <div class="homepagehomelessinvicdetailstitledestext">
                                            <div class="homepagehomelessinvicdetailstitledes">People who are homeless are no different to any citizen and are entitled to every basic human rights, they are allowed to vote, find education, attend training programs, protected by privacy laws and are free to choose when and who to speak with and what experiences of their past they would like to share. If you are looking to speak with someone about anything, please call (1800 825 955) now or visit any charitable organizations of your choosing now. Give an opportunity for someone else to help you and help get back on your feet soon as possible. Only then can you start helping even more people and ending this cycle forever.<br></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="homepagehomelessinvicdetails">
                                    <div data-w-id="fe3c78b2-1b40-5298-e007-9c3f5c047185" class="homepagehomelessinvicdetailstitleblock">
                                        <h1 class="homepagehomelessinvicdetailstitle">Can I get help?</h1>
                                    </div>
                                    <div style="height:0PX" class="homepagehomelessinvicdetailstitledesblock">
                                        <div class="homepagehomelessinvicdetailstitledestext">
                                            <div class="homepagehomelessinvicdetailstitledes">If you are currently homeless or think that you are potentially going to become homeless, you are strongly recommended to reach out for help. There are many resources available to you and many warm members of the community who are ready to give you the guidance that you need.<br></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="homepagehomelessinvicdetails">
                                    <div data-w-id="fe3c78b2-1b40-5298-e007-9c3f5c047185" class="homepagehomelessinvicdetailstitleblock">
                                        <h1 class="homepagehomelessinvicdetailstitle">Seek assistance</h1>
                                    </div>
                                    <div style="height:0PX" class="homepagehomelessinvicdetailstitledesblock">
                                        <div class="homepagehomelessinvicdetailstitledestext">
                                            <div class="homepagehomelessinvicdetailstitledes">victim of abuse or family violenceIf you are a person who are a Victim of abuse or family violence you may want to consider your rights and take further actions to protect yourself or your children. In some extreme cases an order intervention can be applied for.<br></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="homepagehomelessinvicdetails">
                                    <div data-w-id="fe3c78b2-1b40-5298-e007-9c3f5c047185" class="homepagehomelessinvicdetailstitleblock">
                                        <h1 class="homepagehomelessinvicdetailstitle">What is order intervention?</h1>
                                    </div>
                                    <div style="height:0PX" class="homepagehomelessinvicdetailstitledesblock">
                                        <div class="homepagehomelessinvicdetailstitledestext">
                                            <div class="homepagehomelessinvicdetailstitledes">An order intervention is an order made by the magistrate court to control how the respondent must behave towards you. Respondent who does not follow these conditions are committing a criminal offense. An intervention can have conditions to stop the respondent from harassing you, being near you or even contacting you and will be set on a case by case basis<br></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="homepagehomelessinvicdetails">
                                    <div data-w-id="fe3c78b2-1b40-5298-e007-9c3f5c047185" class="homepagehomelessinvicdetailstitleblock">
                                        <h1 class="homepagehomelessinvicdetailstitle">What is accommodation service?</h1>
                                    </div>
                                    <div style="height:0PX" class="homepagehomelessinvicdetailstitledesblock">
                                        <div class="homepagehomelessinvicdetailstitledestext">
                                            <div class="homepagehomelessinvicdetailstitledes">If you recently found yourself to be homeless, you can find accommodation through public housing, community housing, supported housing, temporary housing or emergency accommodation. Each type of accommodation would depend on your individual situation. If you are unsure which type of accommodation to look for you can refer to the source below or contact a service support worker for guidance.<br></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-w-tab="Tab 3" class="w-tab-pane">
                        <div class="tab-pane-wrap">
                            <div class="homepagehomelessinvicpartdestitlecontent">
                                <div class="homepagehomelessinvicdetails">
                                    <div data-w-id="fe3c78b2-1b40-5298-e007-9c3f5c047185" class="homepagehomelessinvicdetailstitleblock">
                                        <h1 class="homepagehomelessinvicdetailstitle">Overview</h1>
                                    </div>
                                    <div style="height:0PX" class="homepagehomelessinvicdetailstitledesblock">
                                        <div class="homepagehomelessinvicdetailstitledestext">
                                            <div class="homepagehomelessinvicdetailstitledes">Volunteering is an extremely fulfilling and heart-warming role that can help make the world a better place and help oneself grow in the process. The following are some basic information for potential volunteers that would like to help end homelessness in Victoria.<br></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="homepagehomelessinvicdetails">
                                    <div data-w-id="fe3c78b2-1b40-5298-e007-9c3f5c047185" class="homepagehomelessinvicdetailstitleblock">
                                        <h1 class="homepagehomelessinvicdetailstitle">Age Requirements?</h1>
                                    </div>
                                    <div style="height:0PX" class="homepagehomelessinvicdetailstitledesblock">
                                        <div class="homepagehomelessinvicdetailstitledestext">
                                            <div class="homepagehomelessinvicdetailstitledes">In Victoria, the legal age to start volunteering is 15 years old, if you are in high school, have excellent time management skills and are already on top of your studies, you may begin your volunteering journey now! It looks great on the extracurricular section of your resume.<br></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="homepagehomelessinvicdetails">
                                    <div data-w-id="fe3c78b2-1b40-5298-e007-9c3f5c047185" class="homepagehomelessinvicdetailstitleblock">
                                        <h1 class="homepagehomelessinvicdetailstitle">Process Requirements?</h1>
                                    </div>
                                    <div style="height:0PX" class="homepagehomelessinvicdetailstitledesblock">
                                        <div class="homepagehomelessinvicdetailstitledestext">
                                            <div class="homepagehomelessinvicdetailstitledes">Although volunteering is for a great cause, you should be careful in the process. You should ensure that the organization you are volunteering at is legitimate by doing a background check of your own, ensure the values of the organization synchronizes with your own and are able to provide you with the proper insurances and provide you a safe work environment. You should also ensure that the role you have been assigned is clear, they can provide you with written information about their purpose and activities and are using their resources in accordance with the organization&#x27;s goals.<br></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="homepagehomelessinvicdetails">
                                    <div data-w-id="fe3c78b2-1b40-5298-e007-9c3f5c047185" class="homepagehomelessinvicdetailstitleblock">
                                        <h1 class="homepagehomelessinvicdetailstitle">Responsibility?</h1>
                                    </div>
                                    <div style="height:0PX" class="homepagehomelessinvicdetailstitledesblock">
                                        <div class="homepagehomelessinvicdetailstitledestext">
                                            <div class="homepagehomelessinvicdetailstitledes">As volunteer you are responsible for undertaking work orientation and training as required. You must work diligently and treat all clients you engage with in a professional and patient manner. Finally, you must maintain a healthy working relationship with all other staff and look after each other. <br></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="homepagehomelessinvicdetails">
                                    <div data-w-id="fe3c78b2-1b40-5298-e007-9c3f5c047185" class="homepagehomelessinvicdetailstitleblock">
                                        <h1 class="homepagehomelessinvicdetailstitle">Your rights?</h1>
                                    </div>
                                    <div style="height:0PX" class="homepagehomelessinvicdetailstitledesblock">
                                        <div class="homepagehomelessinvicdetailstitledestext">
                                            <div class="homepagehomelessinvicdetailstitledes">Being a volunteer is an important role. You should treat it like any other professional duty and be respectful to all respondents and their privacy. You should be on time and carry out your duties listed in your volunteer position description. When you get into a position where you are unsure of what to do or worried that you may be overstepping, it is always best to excuse yourself and first speak with your supervisor.<br></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    //    var value1 = 0;
    //    var value2 = 0;
    //    var value3 = 0;
    //    var upcountervalue = document.getElementById("upcounter1").innerHTML;
    //var x = setInterval(function() {
    //  // Find the distance between now and the count down date
    //    value1 += (0.1 * 10) / 10;;

    //  // Output the result in an element with id="demo"
    //    if (value1 < upcountervalue) {
    //        document.getElementById("upcounter1").innerHTML = value1;
    //    }
    //    else {
    //        clearInterval(x);
    //        document.getElementById("upcounter1").innerHTML = upcountervalue;
    //    }
    //},5000);

    //var y = setInterval(function () {
    //    // Find the distance between now and the count down date
    //    var upcounter2value = document.getElementById("upcounter2").innerHTML;
    //    value2 += 0.01;
    //    // Output the result in an element with id="demo"
    //    if (value2 < upcounter2value) {
    //        document.getElementById("upcounter2").innerHTML = value2;
    //    }
    //    else {
    //        clearInterval(y);
    //        document.getElementById("upcounter2").innerHTML = upcounter2value;
    //    }
    //}, 1000);

    //var z = setInterval(function () {
    //    var upcounter3value = document.getElementById("upcounter3").innerHTML;
    //    value3 += 0.01;

    //    // Output the result in an element with id="demo"
    //    if (value3 < upcounter3value) {
    //        document.getElementById("upcounter3").innerHTML = value3;
    //    }
    //    else {
    //        clearInterval(z);
    //        document.getElementById("upcounter3").innerHTML = upcounter3value;
    //    }
    //}, 1000);
</script>
<script>
    window.onload = function ChangeNavigationColor() {
        // Get all the matching elements into a JavaScript Array
        var elements = Array.prototype.slice.call(document.querySelectorAll(".navigation-text"));
        // Loop over each element....
        elements.forEach(function (el) {
            el.style.color = "hsl(39deg 18% 81%)";  // Adjust the element's style
        });
        var navi = document.getElementById("navigation-bar");
        navi.style.background = "rgba(105,105,105,0.8)";
        document.getElementById("navi-logo-img").src = '/images/yellowLogo.png';
    }
</script>
<script type="text/javascript">
    (function (d, s, id, u) {
        if (d.getElementById(id)) return;
        var js, sjs = d.getElementsByTagName(s)[0],
            t = Math.floor(new Date().getTime() / 1000000);
        js = d.createElement(s); js.id = id; js.async = 1; js.src = u + '?' + t;
        sjs.parentNode.insertBefore(js, sjs);
    }(document, 'script', 'os-widget-jssdk', 'https://www.opinionstage.com/assets/loader.js'));
</script>