
@{
    ViewBag.Title = "SeekAssistance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="seekassistanceheadersection">
    <div class="slider-content">
        <div class="slide-content-wrap">
            <div class="container-2">
                <h1 data-w-id="65d0c8bb-f3cb-221f-3afc-7dc29700fdfe" class="headersectiontitle">Seek<br>‍<span class="brand-span">Assistance</span></h1>
                <p data-w-id="65d0c8bb-f3cb-221f-3afc-7dc29700fe04" class="headersectionparagraph">Seek assistance from the Australian Government, charitable organizations and all the warm-hearted volunteers around Victoria who are eager to listen to your problems and help you figure a way out.</p>
            </div>
        </div>
    </div>
    <div class="slider-wrapper">
        <div data-delay="8000" data-animation="cross" data-autoplay="1" data-easing="ease-out" data-disable-swipe="1" data-duration="800" class="slider w-slider">
            <div class="w-slider-mask">
                <div class="slide w-slide">
                    <div class="seekassistanceheaderimage1"></div>
                </div>
                <div class="slide w-slide">
                    <div class="seekassistanceheaderimage2"></div>
                </div>
            </div>
            <div class="left-arrow-2 w-slider-arrow-left">
                <div class="w-icon-slider-left"></div>
            </div>
            <div class="right-arrow-2 w-slider-arrow-right">
                <div class="w-icon-slider-right"></div>
            </div>
            <div class="slide-nav-2 w-slider-nav w-round"></div>
        </div>
    </div>
</div>
<div data-w-id="00e39f18-964c-9533-8b86-2e9c9848835a" class="homepagesection">
    <div class="homepagesectioncontainer">
        <div class="homepagesectioncol w-row">
            <div class="homepagesectionimage w-col w-col-6">
                <div class="maincolorimage"><img src="~/images/AccessPoint3.jpg" height="500" srcset="~/images/AccessPoint3.jpg 500w, ~/images/AccessPoint3.jpg 722w" sizes="(max-width: 479px) 450.4166564941406px, (max-width: 767px) 94vw, (max-width: 1439px) 47vw, 600px" data-w-id="056646df-faec-42fd-f6e3-4c0be7610260" alt="" class="image-7"></div>
            </div>
            <div class="homepagesectioncontent w-col w-col-6">
                <div class="homepagesectioncontentblock">
                    <h1 class="homepagesectiontitle">Access<br>‍<span class="homepagesectiontitlemaincolor">Points </span></h1>
                    <p class="homepagesectionparagraph">Many individuals become homeless spontaneously overnight. Learn more about Victoria’s Access Points and how it can provide you with a temporary shelter.<br></p><a href="@Url.Action("index","VolunteerCenters")" class="homesectionbutton w-button">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-w-id="555c49c3-9244-fd1c-0cdf-26c99f613cb7" class="homepagesection">
    <div data-w-id="555c49c3-9244-fd1c-0cdf-26c99f613cb8" class="homepagesectioncontainer">
        <div class="homepagesectioncol w-row">
            <div data-w-id="00e39f18-964c-9533-8b86-2e9c9848835d" class="homepagesectioncontent w-col w-col-6">
                <div class="homepagesectioncontentblock">
                    <h1 class="homepagesectiontitle">Financial ‍<br>‍<span class="homepagesectiontitlemaincolor">Support</span>
                    </h1>
                    <p class="homepagesectionparagraph">Financial is a common and efficient way for people to provide assistance to the homeless. It is important to note that there are many other alternatives to provide support.</p><a href="@Url.Action("CenterLink","Home")" class="homesectionbutton w-button">Learn More</a>
                </div>
            </div>
            <div data-w-id="00e39f18-964c-9533-8b86-2e9c98488369" class="homepagesectionimage w-col w-col-6">
                <div class="thirdcolorimage"><img src="~/images/FinancialSupport.jpg" height="500" srcset="~/images/FinancialSupport.jpg 500w, ~/images/FinancialSupport.jpg 722w" sizes="(max-width: 479px) 450.4166564941406px, (max-width: 767px) 94vw, (max-width: 1439px) 47vw, 600px" data-w-id="00e39f18-964c-9533-8b86-2e9c9848836b" alt="" class="image-7"></div>
            </div>
        </div>
    </div>
</div>
<div data-w-id="00e39f18-964c-9533-8b86-2e9c9848835a" class="homepagesection">
    <div class="homepagesectioncontainer">
        <div class="homepagesectioncol w-row">
            <div class="homepagesectionimage w-col w-col-6">
                <div class="maincolorimage"><img src="~/images/freesercvice.jpg" height="500" srcset="~/images/freesercvice.jpg 500w, ~/images/freesercvice.jpg 722w" sizes="(max-width: 479px) 450.4166564941406px, (max-width: 767px) 94vw, (max-width: 1439px) 47vw, 600px" data-w-id="056646df-faec-42fd-f6e3-4c0be7610260" alt="" class="image-7"></div>
            </div>
            <div class="homepagesectioncontent w-col w-col-6">
                <div class="homepagesectioncontentblock">
                    <h1 class="homepagesectiontitle"> Free <br>‍<span class="homepagesectiontitlemaincolor"> Services </span>
                    </h1>
                    <p class="homepagesectionparagraph">
                        Other than accomodation; food, water, and health are key to a comfortable living environment. All these factors can be obtained through services from charitable organizations.
                        <br>
                    </p><a href="@Url.Action("Index","freeServices")"class="homesectionbutton w-button">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div data-w-id="00e39f18-964c-9533-8b86-2e9c9848835a" class="homepagesection">
        <div class="homepagesectioncontainer">
            <div class="homepagesectioncol w-row">
                <div class="homepagesectionimage w-col w-col-6">
                    <div class="maincolorimage"><img src="~/images/support.jpg" height="500" srcset="~/images/support-p-500.jpeg 500w, ~/images/support.jpg 722w" sizes="(max-width: 479px) 450.4166564941406px, (max-width: 767px) 94vw, (max-width: 1439px) 47vw, 600px" data-w-id="056646df-faec-42fd-f6e3-4c0be7610260" alt="" class="image-7"></div>
                </div>
                <div class="homepagesectioncontent w-col w-col-6">
                    <div class="homepagesectioncontentblock">
                        <h1 class="homepagesectiontitle">Access <span class="homepagesectiontitlemaincolor">Points</span></h1>
                        <p class="homepagesectionparagraph">Many individuals become homeless spontaneously overnight. There are main housing access points available across different suburbs in Victoria.</p><a href="#" class="homesectionbutton w-button">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-w-id="555c49c3-9244-fd1c-0cdf-26c99f613cb7" class="homepagesection">
        <div data-w-id="555c49c3-9244-fd1c-0cdf-26c99f613cb8" class="homepagesectioncontainer">
            <div class="homepagesectioncol w-row">
                <div data-w-id="00e39f18-964c-9533-8b86-2e9c9848835d" class="homepagesectioncontent w-col w-col-6">
                    <div class="homepagesectioncontentblock">
                        <h1 class="homepagesectiontitle">Financial<br>‍<span class="homepagesectiontitlemaincolor">Support </span></h1>
                        <p class="homepagesectionparagraph">Financial is the most common and perhaps the most efficient way for people to provide assistance to the homeless. It is important to note that there are many other alternatives to provide support.</p><a href="#" class="homesectionbutton w-button">Learn More</a>
                    </div>
                </div>
                <div data-w-id="00e39f18-964c-9533-8b86-2e9c98488369" class="homepagesectionimage w-col w-col-6">
                    <div class="thirdcolorimage"><img src="~/images/support.jpg" height="500" srcset="~/images/support-p-500.jpeg 500w, ~/images/support.jpg 722w" sizes="(max-width: 479px) 450.4166564941406px, (max-width: 767px) 94vw, (max-width: 1439px) 47vw, 600px" data-w-id="00e39f18-964c-9533-8b86-2e9c9848836b" alt="" class="image-7"></div>
                </div>
            </div>
        </div>
    </div>
    <div data-w-id="20a3ad0f-f9d4-3dfb-8bed-e37a086a9d44" class="homepagesection">
        <div class="homepagesectioncontainer">
            <div class="homepagesectioncol w-row">
                <div class="homepagesectionimage w-col w-col-6">
                    <div class="maincolorimage"><img src="~/images/support.jpg" height="500" srcset="~/images/support-p-500.jpeg 500w, ~/images/support.jpg 722w" sizes="(max-width: 479px) 450.4166564941406px, (max-width: 767px) 94vw, (max-width: 1439px) 47vw, 600px" data-w-id="20a3ad0f-f9d4-3dfb-8bed-e37a086a9d49" alt="" class="image-7"></div>
                </div>
                <div class="homepagesectioncontent w-col w-col-6">
                    <div class="homepagesectioncontentblock">
                        <h1 class="homepagesectiontitle">Free <br><span class="homepagesectiontitlemaincolor">Services</span></h1>
                        <p class="homepagesectionparagraph">Other than accomodation; food, water, and health are key to a comfortable living environment. All these factors can be obtained through services from charitable organizations. </p><a href="#" class="homesectionbutton w-button">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<script type="text/javascript">
    (function (d, s, id, u) {
        if (d.getElementById(id)) return;
        var js, sjs = d.getElementsByTagName(s)[0],
            t = Math.floor(new Date().getTime() / 1000000);
        js = d.createElement(s); js.id = id; js.async = 1; js.src = u + '?' + t;
        sjs.parentNode.insertBefore(js, sjs);
    }(document, 'script', 'os-widget-jssdk', 'https://www.opinionstage.com/assets/loader.js'));
</script>