
@{
    ViewBag.Title = "VisualisationDetailsState";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/visualisation_normalize.css" rel="stylesheet" />
<link href="~/Content/viusalisation.css" rel="stylesheet" />
<link href="~/Content/visualisation_global.css" rel="stylesheet" />
<body class="body">
    <div class="section accent">
        <div class="w-container">
            <div class="visualization">
                <h2 class="heading-2">
                    Homeless Population by State
                </h2>
                <div class="section-subheading center off-white">
                    Homelessness in Australia
                </div>
            </div>
            <div class="columns-4 w-row">
                <div class="w-col w-col-8">
                    <div class="div-block-9">
                        <div class='tableauPlaceholder' id='viz1599720991071' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ho&#47;homelessno_andpercentagebyStatein2016&#47;Sheet1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='homelessno_andpercentagebyStatein2016&#47;Sheet1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ho&#47;homelessno_andpercentagebyStatein2016&#47;Sheet1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /></object></div>
                        <script type='text/javascript'>var divElement = document.getElementById('viz1599720991071'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>

                        @*<img src="images/photo-1416400639808-f41f0c149b09.jpg" srcset="images/photo-1416400639808-f41f0c149b09-p-1080x721.jpeg 1080w, images/photo-1416400639808-f41f0c149b09.jpg 1300w" sizes="(max-width: 767px) 94vw, (max-width: 991px) 478.6588439941406px, 620px" alt="" class="fullwidth-image">*@
                    </div>
                </div>
                <div class="column-11 w-col w-col-4">
                    <div class="div-block-11">
                        <div class="analysis transparent">Relate Information<br>‍</div>
                        <div><br>‍</div>
                    </div>
                    <div class="sourceinformation">
                        <div class="sourcedate">
                            <div class="text-block-4">Source</div>
                            <div class="text-block-5"> <a href="https://www.abs.gov.au/AUSSTATS/abs&#64.nsf/DetailsPage/2049.02016?OpenDocument"> Estimating homelessness, 2016</a></div>
                        </div>
                        <div class="sourceregion">
                            <div class="text-block-4">Region</div>
                            <div class="text-block-5">Vic, Austranlia</div>
                        </div>
                        <div class="sourceperoid">
                            <div class="text-block-4">Suvery Time period</div>
                            <div class="text-block-5"> 2001 - 2016</div>
                        </div>
                        <div class="sourcedate">
                            <div class="text-block-4">Release Date</div>
                            <div class="text-block-5"> Auguest 2020</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section accent">
        <div class="w-container">
            <div class="analysis transparent">
                <h4 class="heading-3">Description:</h4>
                <p class="text" style="font-size: 18px;">
                    As of 2020, according to the “worldpopulationreview” website, Australia is the world’s third most liveable country in the world. Victoria being the most liveable state in Australia, according to “theurbandevelop” website is second in the most amount of homeless cases in Australia. Homelessness is a preventable, we encourage all Victorian’s to take action and commit to helping Victoria become an even better place.
                </p>
            </div>
        </div>
    </div>
</body>
