
@{
    ViewBag.Title = "VisualisationDetailsAgeGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/visualisation_normalize.css" rel="stylesheet" />
<link href="~/Content/viusalisation.css" rel="stylesheet" />
<link href="~/Content/visualisation_global.css" rel="stylesheet" />
<body class="body">
    <div class="section accent">
        <div class="w-container">
            <div class="visualization">
                <h2 class="heading-2">
                    Homeless in Age Group
                </h2>
                <div class="section-subheading center off-white">
                    Age distribution of Homeless in VIC and how they have changed.
                </div>
            </div>
            <div class="columns-4 w-row">
                <div class="w-col w-col-8">
                    <div class="div-block-9">
                        <div class='tableauPlaceholder' id='viz1600010223034' style='position: relative'><noscript><a href=''><img alt=' ' src='https://public.tableau.com/static/images/20/2020-09-10/Sheet1/1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='2020-09-10/Sheet1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https://public.tableau.com/static/images/20/2020-09-10/Sheet1/1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /></object></div>
                        <script type='text/javascript'>var divElement = document.getElementById('viz1600010223034'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
                        @*<div class='tableauPlaceholder' id='viz1599802675392' style='position: relative;'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;20&#47;2020-09-10&#47;Dashboard5&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='2020-09-10&#47;Dashboard5' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;20&#47;2020-09-10&#47;Dashboard5&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='zh-Hans' /><param name='filter' value='publish=yes' /></object></div>-->*@
                    </div>
                </div>
                <div class="column-11 w-col w-col-4">
                    <div class="div-block-11">
                        <div class="analysis transparent">Relate Information<br>‍</div>
                        <div><br>‍</div>
                    </div>
                    <div class="sourceinformation">
                        <div class="sourcedate">
                            <div class="text-block-4">Source</div>
                            
                            <div class="text-block-5">
                            <a href="https://www.abs.gov.au/AUSSTATS/abs&#64.nsf/DetailsPage/2049.02016?OpenDocument">
                                Estimating homelessness, 2016</a>
                            </div>
                        </div>
                        <div class="sourceregion">
                            <div class="text-block-4">Region</div>
                            <div class="text-block-5">Vic, Austranlia</div>
                        </div>
                        <div class="sourceperoid">
                            <div class="text-block-4">Suvery Time period</div>
                            <div class="text-block-5"> 2001 - 2016</div>
                        </div>
                        <div class="sourcedate">
                            <div class="text-block-4">Release Date</div>
                            <div class="text-block-5"> Auguest 2020</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section accent">
        <div class="w-container">
            <div class="analysis transparent">
                <h4 class="heading-3">Description:</h4>
                <p class="text">The figure above shows the population of homeless individuals across 9 different age groups and how these numbers have changed from 2006 until 2016. One of the most significant changes is the increase of homelessness in age 25-34 from 2011 – 2016, an increase of 31.6 percent.</p>
            </div>
        </div>
    </div>
</body>
