@{
    ViewBag.Title = "Volunteer Organisation";
}

<div class="content cc-deco-block-wrap">
    <div class="deco-block">
        <div class="wrap">
            <div class="page-headline-wrap cc-overlayed-headline">
                <h1 class="heading">Volunteering Organisation</h1>
                <p class="big-paragraph">
                    Are you a Volunteer Involving Organisation?<br>
                    Find an organisation which can benefit homeless in VIC 
                </p>
                <hr>
            </div>
        </div>
    </div>
</div>
<div class="content cc-overlayed-content">
    <div class="wrap-overlayed">
        <div class="about-head-pic"></div>
        <div class="content-wrap">
            <div class="subheadline-wrap">
                <div class="subheadline-deco-line"></div>
                <div class="label cc-subheadline w-inline-block">Selection</div>
                <div class="subheadline-deco-line"></div>
            </div>
            <h2 class="heading-2">Find A Organisation Type</h2>
            <p class="paragraph">A way to a organisation to help others</p>
        </div>
        <div data-w-id="7dd2e280-3db3-da84-ceab-b0561dbfa9f0" class="w-layout-grid about-image-section-wrap">
            <div id="w-node-2ff8f3d8c79b-c2c7b216" class="about-section-1">
                <h3 class="heading-3">
                    <a href="@Url.Action("Index","VolunteerCenters")" target="_blank">Find a Volunteer Center </a>
                </h3>
                <p>Find out the organisation is most suitable for you</p>
            </div>
            <div id="w-node-3f452c7da8fc-c2c7b216" class="about-image"></div>
        </div>
        <div data-w-id="464a94b7-856a-65cf-21b3-9b43d9d26828" class="w-layout-grid about-image-section-wrap">
            <div id="w-node-9b43d9d26829-c2c7b216" class="about-section-2">
                <h3 id="w-node-9b43d9d2682a-c2c7b216" class="heading-4">
                    <a href="@Url.Action("Index","VictoriaCharities")" target="_blank">Find a Charity </a>
                </h3>
                <p id="w-node-9b43d9d2682c-c2c7b216">Become a member of a volunteer center</p>
            </div>
            <div id="w-node-9b43d9d2682e-c2c7b216" class="about-image-2"></div>
        </div>
    </div>
</div>